@import '../../styles/variables.scss';

.form {
    width: 20rem;
    padding:1rem;
    border: 1px solid gray;
    h2 {
        margin-top: 0;
    }
    .error {
        color: red;
        font-size: .9rem
    }
    .field {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        input {
            border: 1px solid gray;
            height: 2rem;
        }
    }
}