@import '../../styles/variables.scss';

.header {
    background-color: $component-background-colour;
    border-bottom: 2px solid $component-border-colour;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;

    .title {
        margin: 5px auto;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: $text-title-colour;
        text-decoration: none;
    }
    .links {
        width: 100%;
        padding-left: 0;
        margin: 0;
        height: 30px;
        border-top: 1px solid $component-border-colour;
        background-color: #fff;
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        > li {
            font-size: 18px;

            a {
                color: $text-body-colour;
                height: 100%;
                padding: 5px 10px;
            }
        }
    }
}
