@import '../../styles/variables.scss';

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $component-background-colour;
    border-top: 1px solid $component-border-colour;
    max-height: 50px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
