@import '../../styles/variables.scss';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $component-background-colour;
    border-top: 1px solid $component-border-colour;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}
